.top__banner {
    /* margin-top: 5vh; */
    position: fixed;
    background-color: white;
    padding-left: 2vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    border-bottom: 1px solid black;
    /* margin-left: 7vw; */
    /* border-radius: 15px; */
}
.top__banner * {
    margin-left: 15px;
}
.top__banner ul {
    display: flex;
    list-style-type: none;
}
.top__banner ul li {
    margin-top: 12px;
}
.top__banner ul li b {
    color: black;
    margin-left: 3px;
}
.top__banner button {
    margin-right: 2vw;
    margin-top: 6px;
}
.hamburgerOptions ul li {
    list-style-type: none;
    margin-top: 10px;
}
@media (max-width: 455px) {
    .top__banner {
        display: none;
    }
    .hamburger img {
        width: 50px;
        margin-left: 74vw;
    }
    .hamburgerOptions {
        background-color: white;
        padding: 15px;
        text-align: right;
        width: 84vw;
        margin-left: 7vw;
    }
    .top__banner {
        display: none;
    }
    .picture {
        display: none;
    }
    .hamburger img{
        margin-top: 5px;
    }
}
@media (min-width: 456px) {
    .hamburger {
        display: none;
    }
}