* {
    margin: 0px;
    padding: 0px;
}
button a {
    color: white;
}
.home__wrapper {
    background-color: #e0dfda;
    /* padding: 10px; */
    padding-top: 6vh;
    height: 100%;
}
.home__wrapper img {
    width: 70vw;
    margin-left: 7vw;
    margin-top: -10px;
}
.featured {
    padding: 10px;
    display: flex;
    margin-left: 20%;
}
.featuredProd {
    margin-left: 10px;
    border-radius: 15px;
    background-color: white;
    padding: 15px;
    width: 500px;
}
.featured img {
    width: 300px;
    display: block;
}
.products {
    text-align: center;
    justify-content: left;

    /* width: 500px; */
    padding: 10px;
    margin-left: 6vw;
    display: inline-flex;
    overflow: auto;
    overflow-y: hidden;
}
.eachProduct {
    display: inline-flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    margin-left: 15px;
    margin-top: 15px;
    width: 300px;
}
.eachProduct img {
    padding-top: 15px;
    width: 100%;
    margin-left: 0px;
}
/* .eachProduct p {
    width: 250px;
    height: 100px;
} */
.prodPrice {
    height: 50px;
}
.prodName {
    width: 250px;
    margin-bottom: 20px;
}
@media (max-width: 740px) {
    .products {
        flex-direction: column;
    }
    .home__wrapper {
        height: 100%;
    }
    .eachProduct {
        margin-top: 15px;
        margin-left: 0;
        width: 82vw;
    }
    .prodDesc p, .prodPrice p{
        width: 80vw;
        margin-left: -15px;
    }
    .prodName {
        width: 100%;
    }
}
@media (max-width: 661px) {
    .home__wrapper {
        padding: 0px;
        padding-top: 1vh;
        padding-bottom: 5vh;
        height: 100%;
    }
}