* {
    margin: 0px;
    padding: 0px;
}
.login__wrapper {
    background-color: #e0dfda;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    padding-left: 25vw;
}
.login__box {
    margin-top: 10vh;
    background-color: ghostwhite;
    margin-left: 10vw;
    width: 30vw;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 10px;
}
.loginInfo label{
    margin-top: 20px;
}
.btn {
    margin-top: 20px;
}