<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'register.css' %}">
    <title>Register</title>
</head>
<body>
    <div class="register__wrapper">
        <div class="register__box card text-center">
            <h1 class="text-center card-body">Register</h1>
            {% if messages %}
                <ul id="errors">
                    {% for message in messages %}
                        <li class="text-danger errors">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form action="/registerAccount" method="post">
                {% csrf_token %}
                <div class="registerInfo text-left">
                    <label for="fname">First Name:</label>
                    <input type="text" class="form-control" name="fname">
                </div>
                <div class="registerInfo text-left">
                    <label for="lname">Last Name:</label>
                    <input type="text" class="form-control" name="lname">
                </div>
                <div class="registerInfo text-left">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" name="email">
                </div>
                <div class="registerInfo text-left">
                    <label for="birthday">Birthday:</label>
                    <input type="date" class="form-control" name="birthday">
                </div>
                <div class="registerInfo text-left">
                    <label for="password">Password:</label>
                    <input type="text" class="form-control" name="password">
                </div>
                <div class="registerInfo text-left">
                    <label for="confirmPass">Confirm Password:</label>
                    <input type="text" class="form-control" name="confirmPass">
                </div>
                <input class="btn btn-success" type="submit" value="register">
            </form>
            <p class="m-4">Already have an account? Sign in <a href="/">here</a></p>
        </div>
    </div>
</body>
</html>